_build
*.pyc
*.pyo
__pycache__
*.so
*.o
*.bak
*.pybackup
*.s

llvmmath/mathcode/funcs.inc
llvmmath/mathcode/npy_math_integer.c
llvmmath/mathcode/npy_math_floating.c
llvmmath/mathcode/npy_math_complex.c
llvmmath/mathcode/ieee754.c
llvmmath/mathcode/private/config.h

.idea/
build/
cython_debug/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~
.noseids

tags
TAGS
